@keyframes photo

{
  0% 
  {
    transform: translatey(0px);
    opacity: 0;
  }
  100% 
  {
    transform: translatey(-10px);
    opacity: 1;
  }
}
@keyframes h1

{
    0%
    {
    transform: translate(360°);
    opacity: 0;
    }
    100%

}
.Figure1 img
{
    width:100%; 
    height:100%; 
    object-fit:cover; 
    object-position: center;
    animation:1.925s ease-in photo;
}

.Figure2 img
{
    width:100%; 
    height:100%; 
    object-fit:cover; 
    object-position: center;
    animation: 1.925s linear photo;
}

.Figure3 img
{
    width:100%; 
    height:100%; 
    object-fit:cover; 
    object-position: center;
    animation: 1.925s ease photo;

}

.Figure
{
    height:250px; 
    overflow:hidden;
}

.grid-container {

    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    width:650px;
  }

.grid-item1 {

    display:grid;
    text-align:center;
    align-items:center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size:15px;
    height:30px;
    color:#FFFF66;
    background:#663300;
  }

.grid-item{

    display:grid;
    text-align:center;
    align-items:center;
    border: 1px solid rgba(0, 0, 0, 0.8);
  }

.parag {

border-width: 1px;
border-color: black;
border-style: solid;
text-align: left;
padding:3px;
background-color: #E1EDF8;

}

.paragcol {

border-width: 1px;
border-color: black;
border-style: solid;
padding:3px;
background-color: #f0f8ff;

}

.intro {

border-width: 1px;
border-color: black;
border-style: solid;
padding:3px;
background-color: #E1EDF8;
font-size: 18px;

}

body {

background-image: url('bgcases.gif');

}

.fs {

margin-bottom:0px;

padding-bottom:0.2em;

padding-top:0.2em;

padding-right:0.2em;

border-width: 1px;

border-color: black;

width:80%;

}

.beige {

border-width: 1px;

border-color: black;

border-style: solid;

padding:3px;

background-color: #FAF0E6;

}

.bandeau {

width:90%;

border-width: 0px;

border-color: black;

border-style: solid;

padding:3px;

background-color: #FAF0E6;

border-bottom-width: 2px;

border-color: black;

border-style: solid;

margin: 0px auto;

}

.piedpage {

width : 90%;

border-width: 0px;

border-color: black;

border-style: solid;

padding:2px;

background-color: #FAF0E6;

border-top-width: 2px;

border-color: black;

border-style: solid;

}

.tablegenerale {

border-width: 0px;

background-color: RGB(242,242,242);

width: 90%;

margin:1px auto;

padding:8px;

}

.colg {position: absolute; top: 210px; left: 8px; background-color: #FAF0E6; }

.cold {position: absolute; top: 210px; left: 450px; visibility: hidden; background-color: #FAF0E6; }

.left {font-size: 14px; }

.liens {font-size: 15px; }

.hl {color: orange; }

.titre {font-size:x-large;}

.disab { font-weight: bold; background-color: #F5DEB3; }

.bold { font-weight: bold; }

.w { background-color: white; }

.g { background-color: RGB(230,230,230); }

.b { background-color: RGB(240,248,255); }

a:link {

    color: #004D66;

    text-decoration: none;

}

a:visited {

    color: #00759B;

    text-decoration: none;

}

a:hover {

    color: #004D66;

    text-decoration: underline;

}
@media screen and (min-width:769px) and (max-width:1089px)  /* styles pour tablettes*/
{
.bandeau {

    padding:0px;
    margin:0px auto;
}
.imghaut
{
    width:100%; 
    height:100%; 
    object-fit:cover; 
    object-position: center;
}
.Figure
{
    height:250px; 
    overflow:hidden;
}
}
@media screen and (min-width:376px) and (max-width:768px)   /* styles pour mobile paysage+Portrait*/
{
img
{
    width:100%; 
    height:100%; 
    object-fit:cover; 
    object-position: center;
}
.Figure
{
    height:250px; 
    overflow:hidden;
}
}
@font-face  /* Police " */
{
    font-family:"Roboto Regular";
    src:url("Roboto-Regular.ttf") format("truetype");
}
.citation
{
	background: #DADADA;
	padding: 10px;
	border-radius: 10px;
	margin-left: 10px;
	line-height: 130%;
	text-align: center;"
}
