@font-face
/* Police " */
{
  font-family: "Roboto Regular";
  src: url("Roboto-Regular.ttf") format("truetype");
}

.Re-Direction-Version-Bureau {
  display: none;
}

body {
  background-image: url("bgcases.gif");
  font-family: "Roboto Regular", arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  width: 100%;
}

.grid-item1 {
  display: grid;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 15px;
  height: 30px;
  color: #FFFF66;
  background: #663300;
}

.grid-item{
  display: grid;
}

.grid-item {
  display: grid;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.parag {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  text-align: left;
  padding: 3px;
  background-color: #E1EDF8;
}

.paragcol {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 3px;
  background-color: #f0f8ff;
}

.intro {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 3px;
  background-color: #E1EDF8;
  font-size: 18px;
}
.Case-Acceder-a-la-partie{   

  text-align:right;
  background-color:#FFFFFF;
  width:120px;
  font-size:10px;
  padding: 3px;

}
.Case-Marron-Joueur-A-Gauche{
  width:120px;
  background-color:#663300;
  font-size:17px;
  font-family:"georgia,palatino";
}
.fs {
  margin-bottom: 0px;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  padding-right: 0.2em;
  border-width: 1px;
  border-color: black;
  width: 80%;
}

.beige {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 3px;
  background-color: #FAF0E6;
}

.bandeau {
  width: 91%;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  padding: 3px;
  background-color: #FAF0E6;
  border-bottom-width: 2px;
  border-color: black;
  border-style: solid;
  margin: 0px auto;
}

.Organisation-des-3-Photos-Introduction {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 1.75rem;
}

h2 {
  font-size: 22px;
  margin: 0px;
  color: blue;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Introduction-Photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Introduction-Photo {
  height: 250px;
  overflow: hidden;
}

.Table-Tableau {

  font-size:small;
}

.Score-Final {
  margin-top: 5px;
  font-size: 120%;
}

.imgchamp {
  display: flex;
  height: 260px;
  align-items: center;
  margin-top: 20px
}

.imgchamp1 {
  display: flex;
  height: 240px;
  align-items: center;
}

.imgchamp12 {
  display: flex;
  height: 275px;
  align-items: center;
  margin-top: 20px
}

.imgchamp13 {
  display: flex;
  height: 316px;
  align-items: center;
  margin-top: 20px
}

.imgchamp14 {
  display: flex;
  height: 316px;
  align-items: center;
  margin-top: 20px
}

.imgchamp15 {
  display: flex;
  height: 336px;
  align-items: center;
  margin-top: 20px
}

.imgchamp16 {
  display: flex;
  height: 344px;
  align-items: center;
  margin-top: 20px
}

.imgchamp17 {
  display: flex;
  height: 325px;
  align-items: center;
  margin-top: 20px
}

.imgchamp29 {
  display: flex;
  height: 273px;
  align-items: center;
  margin-top: 20px
}

.imgchamp31 {
  display: flex;
  height: 352px;
  align-items: center;
  margin-top: 20px
}

.Photos-championnat-du-monde img {
    
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Photos-championnat-du-monde {
  height: 225px;
  overflow: hidden;
  margin-left: 30px;
}

main {
  border-width: 0px;
  background-color: RGB(242, 242, 242);
  width: 90%;
  margin: 1px auto;
  padding: 8px;
}

.piedpage {
  width: 91%;
  margin: 0px auto;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  padding: 2px;
  background-color: #FAF0E6;
  border-top-width: 2px;
  border-color: black;
  border-style: solid;
}

.colg {
  position: absolute;
  top: 210px;
  left: 8px;
  background-color: #FAF0E6;
}

.cold {
  position: absolute;
  top: 210px;
  left: 450px;
  visibility: hidden;
  background-color: #FAF0E6;
}
.Tableau-Liste-Championnats-Du-Monde{

  display:flex;
}
.Tableau-Liste-Championnat-Du-Monde1, .Tableau-Liste-Championnat-Du-Monde1, .Championnat-Fide-1993-2007{

  padding:15px;
  font-size:1.2rem;
}

.left {
  font-size: 14px;
}

.liens {
  font-size: 15px;
}

.hl {
  color: orange;
}

.titre {
  font-size: x-large;
}

.disab {
  font-weight: bold;
  background-color: #F5DEB3;
}

.bold {
  font-weight: bold;
}

.w {
  background-color: white;
}

.g {
  background-color: RGB(230, 230, 230);
}

.b {
  background-color: RGB(240, 248, 255);
}

a:link {
  color: #00759B;
  text-decoration: none;
}

a:visited {
  color:black;
  text-decoration: none;
}

a:hover {
  color: #00A5DB;
}

.Apropos {
  text-align: right;
  font-size: 16px;
}

@media screen and (min-width:1089px) and (max-width:1280px)
/* styles pour tablette Kindle paysage*/

{
.Photos-championnat-du-monde {
    height: 225px;
    overflow: hidden;
    margin-left: 30px;
  }
.Table-Tableau {

    font-size:small;
  }
  .Case-Acceder-a-la-partie{

    text-align:right;
    background-color:#FFFFFF;
    width:50px;
    font-size:10px;
    padding:3px;
  }
  .Case-Marron-Joueur-A-Gauche{
    width:120px;
    background-color:#663300;
    font-size:17px;
    font-family:"georgia,palatino";
  }
}

@media screen and (min-width:600px) and (max-width:1088px)
/* styles pour tablettes Kindle portrait + ipad Portrait - paysage  */

{
  h1 {
    font-size: 1.75rem;
  }
  .bandeau {
    width:95.5%;
  }
  main {
    border-width: 0px;
    background-color: RGB(242, 242, 242);
    width: 94%;
    margin: 1px auto;
    padding: 8px;
  }

  .Td-Mobile-En-Colonne {
    display: flex;
    flex-direction: column;
  }
  .imghaut {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .Photos-championnat-du-monde {

  height: 250px;
  overflow: hidden;
  margin-left: 10px;

  }
  .Table-Tableau {

  width:76%;
  font-size:xx-small;

  }
.Table-Tableau12{

  font-size:xx-small;
  width:60%;

}
.Table-Tableau13{

  font-size:xx-small;
  width:30%;
}

 .Table-Tableau14{

  font-size:xx-small;
  width:30%;
}
 
 .Table-Tableau15{

  font-size:xx-small;
  width:73%;
}
 
 .Table-Tableau16{

  font-size:xx-small;
  width:30%;
}
 
 .Table-Tableau29{

  font-size:xx-small;
  width:50%;
}
 
 .Table-Tableau31{

  font-size:xx-small;
  width:50%;

}

.Table-Tableau31-bis{

  font-size:xx-small;
  width:40%;

}
.imgchamp, .imgchamp1, .imgchamp12, .imgchamp13, .imgchamp14, .imgchamp15, .imgchamp16, .imgchamp17, .imgchamp29, .imgchamp31 {

  display: flex;
  justify-content: center;
  margin-top:20px;

  }

.Case-Acceder-a-la-partie{   

  text-align:right;
  background-color:#FFFFFF;
  width:75px;
  font-size:10px;
  padding: 3px;

}
.Case-Marron-Joueur-A-Gauche{
  width:79px;
  background-color:#663300;
  font-size:17px;
  font-family:"georgia,palatino";
}
.piedpage {
  width:95.5%;
}
}
@media screen and (min-width:414px) and (max-width:599px)
/* styles pour téléphones Portrait moderne + paysage  */
{
    .bandeau {
        width:100%;
        margin:0px;
        padding:0px;
    }
    main {
        width:100%;
        margin:0px;
        padding:1px 0px;
      }
      .Td-Mobile-En-Colonne {
        display: flex;
        flex-direction: column;
      }
    .Photos-championnat-du-monde {
    
        height:auto;
        overflow: hidden;
        margin-left: 10px;
    }
    .Photos-championnat-du-monde {

        height:250px;
        overflow: hidden;
        margin-left: 10px;
    }
    .piedpage {
        width:100%;
        margin: 0px;
    }
}
@media screen and (max-width:413px)
/* styles pour téléphone très petit ancienne génération. ( Portrait )  */
{
.bandeau {
    width:100%;
    margin:0px;
    padding:0px;
}
main {
    width:100%;
    margin:0px;
    padding:1px 0px;
  }
  .Td-Mobile-En-Colonne {
    display: flex;
    flex-direction: column;
  }
.Photos-championnat-du-monde {

    height:50px;
    overflow: hidden;
    margin-left:10px;
    }
.piedpage {
    width:100%;
    margin: 0px;
}
      
}