@font-face
/* Police " */

{
  font-family: "Roboto Regular";
  src: url("Roboto-Regular.ttf") format("truetype");
}

body {
    background-image: url("bgcases.gif");
    font-family: "Roboto Regular", arial, sans-serif;
  }
  
  main {
    border-width: 0px;
    background-color: RGB(242, 242, 242);
    width:90%;
    margin:1px auto;
    padding:8px;
  }
  h1{
    text-align:center;
    font-size:1.7rem;
  }
  h2{
      font-size:22px;
      margin:0px 0px 5px 0px;
      color:blue;
  }

.fs {
    margin-bottom: 0px;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-right: 0.2em;
    border-width: 1px;
    border-color: black;
    width: 80%;
  }
  a:link {
    color: #00759B;
    text-decoration: none;
  }
  
  a:visited {
    color: #00759B;
    text-decoration: none;
  }
  
  a:hover {
    color: #00A5DB;
  }
  
  .Apropos {
    text-align: right;
    font-size: 16px;
  }
  
  .parag {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: left;
    padding: 3px;
    background-color: #E1EDF8;
  }
  
  .paragcol {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 3px;
    background-color: #f0f8ff;
  }
  .beige {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 3px;
    background-color: #FAF0E6;
  }
.bandeau {

    width:90%;
    border-width:0px;
    border-color: black;
    border-style: solid;
    padding:8px;
    background-color: #FAF0E6;
    border-bottom-width:2px;
    border-color: black;
    border-style: solid;
    margin:0px auto;
  }
  Section{
    margin:0px auto;
  }
  .Organisation-des-3-Photos-Introduction {

    display: flex;
    width:80%;
    margin:0px auto;
  }

  .Figure-Intro{
    margin:16px;
  }
  .Figure-Intro-Citation{ /*------- Citation Intro Capablanca ( figcaption )----*/

    display:flex;
    flex-direction:row-reverse;
    margin:0px;
  }
  
  .Citation-Intro{ 

    width:350px;
    text-align: center;
    margin:0px;
    background: #DADADA;
    border-radius: 10px;
    margin:30px auto 0px;

  }
  .Citation-Intro img{ 

    height:auto;
    width:auto;
    margin:0px;

  }
  .Citation-Intro .Capablanca{

  display: flex;
  flex-direction: row-reverse;
  width: 414px;
  background: #DADADA;
  border-radius: 10px;
  text-align: center;
  margin:0px;
  width:350px

  }
  .Citation-Intro .Capablanca  figcaption{     /*------- Intro - Citation Capablanca ( figcaption )----*/
    font-size:0.9rem;
    margin:auto 0px;
    height:147px;
  }

  .Intro-Legende-Des-3Photos{       /*-------Figcaption ( légende ) de  l'Introduction des 3 photos Spasky, Fischer, Carlsen ----*/
    
    text-align:center;
    margin:0px;
    font-style: italic;
    font-size:0.9rem;
    height:20px;

  }

  .Introduction-Photo-Spassky-Tal, .Introduction-Photo-Fischer-simul, .Introduction-Photo-Caruana-Carlsen {

    height:250px;
    width:100%;
    overflow: hidden;
    margin:0px auto;
  }
  .imghaut{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
  }

  .Citation-Bloc{

    background: #DADADA; 
    width:414px; 
    align-items: center;
    margin:10px 0px 0px 0px;
  }
  .Figure-Citation img{

    height:auto;
    width:auto;
    margin:0px;
  }

  .Figure-Citation, .Figure-Citation-Tal-Alekhine, .Figure-Citation-Paul-Keres, .Figure-Citation-Alekhine-Lajos-Portish, .Figure-Citation-Tartakover, .Figure-Citation-David-Bronstein, .Figure-Citation-Lasker, .Capablanca{
/*-------Figure de toutes les citations des joueurs de la page  ----*/

    display:flex; 
    flex-direction:row-reverse;
    width:414px;
    background: #DADADA;
    border-radius: 10px;
    text-align: center;
    margin:0px;

  }

  .Capablanca  figcaption{     /*-------Main Citation Capablanca ( figcaption )----*/
    font-size:0.9rem;
    margin:auto 0px;
    height:200px;
  }
  .Figure-Citation-Tal-Alekhine figcaption{ /*------- Citation Tal + Alekhine Même taille de photo pour centrer le texte ( figcaption )----*/
    font-size:0.9rem;
    margin:auto 0px;
    height:136px;
  }
  .Figure-Citation-Paul-Keres figcaption{ /*------- Paul keres ( figcaption )----*/

    font-size:0.9rem;
    margin:auto 0px;
    height:250px;

  }
  .Figure-Citation-Alekhine-Lajos-Portish figcaption{  /*------- Alekhine + Portish ( même taille d'image )( figcaption )----*/

    font-size:0.9rem;
    margin:auto 0px;
    height:75px;

  }
  .Figure-Citation-Tartakover figcaption{  /*-------Tartakover ( figcaption )----*/

    font-size:0.9rem;
    margin:auto 0px;
    height:107px;
  }
  .Figure-Citation-David-Bronstein figcaption{ /*------- David Bronstein ( figcaption )----*/

    font-size:0.9rem;
    margin:auto 0px;
    height:145px;
  }
  .Figure-Citation-Lasker figcaption{ /*------- Lasker ( figcaption )----*/

    font-size:0.9rem;
    margin:auto 0px;
    height:90px;
  }
  .Figure-Citation  figcaption{

  font-size:0.9rem;
  margin:auto 0px;
  height:235px;
}
  .Tableau-Coup-De-Coeur{

    width:98.5%; 
    
    }
    footer {
    width:90%;
    margin:1px auto;
    border-width: 0px;
    border-color: black;
    border-style: solid;
    padding:8px;
    background-color: #FAF0E6;
    border-top-width: 2px;
    border-color: black;
    border-style: solid;
  }
  .Apropos {
    float: right;
    font-size: 16px;
  }
  .Tipee{
    display:flex;
    align-items: center;
    height:67px;
    margin:0px 0px 10px 0px;
  }
@media screen and (min-width:1089px) and (max-width:1280px)
  /* styles pour tablette Kindle paysage*/
{
  h1{
    text-align:center;
    font-size:1.2rem;
  }
      .Introduction-Photo-Fischer-simul{

        overflow: hidden;
      }
    .Introduction-Photo-Caruana-Carlsen {

        overflow: hidden;
      }

      .Introduction-Photo-Spassky-Tal{

        overflow: hidden;
      }
      .Tipee{
        display:flex;
      }
}
@media screen and (min-width:640px) and (max-width:1088px)
/* styles pour tablettes Kindle portrait + ipad Portrait - paysage  */
{
  h1{
    text-align:center;
    font-size:1.2rem;
  }
  .Figure-Citation img{

    height:auto;
    width:auto;
    margin:0px;
  }
  .Tipee{
    display:flex;
  }
}
@media screen and (min-width:415px) and (max-width:639px)
/* styles pour mobile paysage+Portrait*/
{
    .bandeau {
        width:96%;
        margin:0px;
        padding:1px 2%;
    }
    main {
        width:96%;
        margin:0px;
        padding:1px 2%;
      }
    h1{
      text-align: center;
      font-size:0.85rem;
      }
      .Organisation-des-3-Photos-Introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    .Introduction-Photo-Caruana-Carlsen {

        width:84%;
        height:auto;
        overflow: hidden;
      }
      .Introduction-Photo-Fischer-simul{
        
        width:88%;
        height:auto;
        overflow: hidden;
      }
      .Introduction-Photo-Spassky-Tal{
          
        width:100%;
        height:auto;
        overflow: hidden;
      }
      
      .Figure-Citation{

        width:100%;
        background: #DADADA;
        border-radius: 10px;
        text-align: center;
        margin:0px;
    
      }
      footer {
        width:96%;
        margin:0px;
        padding:8px 2%;
      }
      .Tipee{
        display:flex;
      }
}
@media screen and (max-width:414px) 
/* styles pour mobile ancienne génération paysage+Portrait*/
{
    .bandeau {
        width:96%;
        margin:0px;
        padding:2%;
    }
    main {
        width:96%;
        margin:0px;
        padding:2%;
      }
    h1{
        font-size:0.7rem;
      }
      h2{

        font-size:1rem;
   
       }
      .Citation-Intro{ 

        width:100%;
        display:flex; 
        flex-direction:column;

      }

    .Tableau-Coup-De-Coeur{

    font-size:small;
    width:100%; 

    }
    .Organisation-des-3-Photos-Introduction {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
      }
      .Introduction-Photo-Fischer-simul{

        width:88%;
        height:auto;
        overflow: hidden;
      }
    .Introduction-Photo-Caruana-Carlsen {

        width:84%;
        height:auto;
        overflow: hidden;
      }

      .Introduction-Photo-Spassky-Tal{

        width:100%;
        height:auto;
        overflow: hidden;
      }
      .Citation-Bloc{

        background: #DADADA; 
        width:100%; 
        display:flex; 
        flex-direction:column;
        align-items: center;
        margin:10px 0px 0px 0px;
      }
      .Citation-Intro .Capablanca{
        display: flex;
        flex-direction:column;
        width:100%;
        margin:0px 0px;
      }
      .Citation-Intro .Capablanca figcaption{

        margin:10px auto;
        height:auto;
      }
      .Figure-Citation, .Figure-Citation, .Figure-Citation-Tal-Alekhine, .Figure-Citation-Paul-Keres, .Figure-Citation-Alekhine-Lajos-Portish, .Figure-Citation-Tartakover, .Figure-Citation-David-Bronstein, .Figure-Citation-Lasker, .Capablanca{

        display:flex;
        flex-direction:column;
        width:auto;
        height:auto;
        margin:0px auto;
        overflow: hidden;
    
      }
      .Figure-Citation img, .Figure-Citation img, .Figure-Citation-Tal-Alekhine img, .Figure-Citation-Paul-Keres img, .Figure-Citation-Alekhine-Lajos-Portish img, .Figure-Citation-Tartakover img, .Figure-Citation-David-Bronstein img, .Figure-Citation-Lasker img, .Capablanca img{
      
        height:auto;
        overflow: hidden;
        margin:0px auto;
      }
      .Figure-Citation figcaption, .Figure-Citation figcaption, .Figure-Citation-Tal-Alekhine figcaption, .Figure-Citation-Paul-Keres figcaption, .Figure-Citation-Alekhine-Lajos-Portish figcaption, .Figure-Citation-Tartakover figcaption, .Figure-Citation-David-Bronstein figcaption, .Figure-Citation-Lasker figcaption, .Capablanca figcaption{
      
        margin:10px 0px;
        height:auto;
      }
      .Figure-Citation img{
      width:280px;

    }
      .Figure-Citation-Tal-Alekhine img{
      width:207px;

    }
      .Figure-Citation-Paul-Keres img{
      width:260px;


    }
      .Figure-Citation-Alekhine-Lajos-Portish img{
      width:220px;

    }
      .Figure-Citation-Tartakover img{
      width:204px;

    }
      .Figure-Citation-David-Bronstein img{
      width:205px;

    }
      .Figure-Citation-Lasker img{
      width:205px;

    }
      .Capablanca img{

        width:230px;

      }
      footer {

        width:96%;
        margin:0px;
        padding:2%;
      }

      .Tipee{

        display:flex;
        flex-direction: column;
        align-items:center;
        height:auto;
      }
      .Tipee img{
        margin:0px 0px 10px 0px;
      }
}